.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  font-size: larger;
  font-weight: 500;
  color: black;
  margin-top: 1rem;
}

.Overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}

.Alert {
  max-width: 340px;
  z-index: 9;
  margin-top: 35vh;
  background: white;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h4 {
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 1.75rem;
}

button {
  color: white;
  width: 15rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  background-color: red;
  border: none;
  margin-bottom: 1.75rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
